ul.topnav {
    background-image: repeating-linear-gradient(-223deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 0px, transparent 2px);
    background-color: black;
    background-size: 20px;
}

#prods {
    font-size: 3vw;
}

#services {
    font-size: 6vw;
}

@media screen and (max-width: 600px) {
    ul.topnav li a {
        height: calc(35vh / 5);
        line-height: calc(35vh / 5);
    }
    
    .projects {
        height: 50vh;
        margin-top: 30vh;
    }

    #prods {
        font-size: 6vw;
    }
}