body {
    background-color: black;
    color: white;
}

#background-video {
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: -20;
    pointer-events: none;
}

#banner-video {
    left: 0;
    top: -150px;
    width: 100%;
    position: absolute;
    z-index: -20;
    pointer-events: none;
}

ul.topnav {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 10;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    width: fit-content;
    position: relative;
    font-family: "Arial Black";
    font-size: 4vw;
    z-index: 20;
    line-height: 1;
    margin-left: 1vw;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: white; color: black;}

ul.topnav li.left {float: left;}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

#audio-control {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.projects {
    display: flex;
    justify-content: space-around;
    height: 650px;
    background-color: white;
}

.projects a {
    margin-top: 100px;
    width: 40%;
    transition: transform .1s;
    display: flex;
    justify-content: center;
    align-items:center;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: "Bebas Neue";
    line-height: normal;
}

.projects a:hover {
    transform: scale(1.1);
}

form {
    width: 75%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form label {
    font-size: 20px;
}

form input {
    width: 100%;
}

form textarea {
    width: 100%;
}

div.fullname {
    display: flex;
    justify-content: space-between;
}

div.fname {
    float: left;
    width: 45%;
}

div.lname {
    float: right;
    width: 45%;
}

div.black {
    position: absolute;
    background-color: black;
    width: 100%;
    z-index: -10;
    padding: 25px;
    display: flex;
    flex-direction: column;
}