#background-video {
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: -20;
    pointer-events: none;
}

#banner-video {
    left: 0;
    top: -150px;
    width: 100%;
    position: absolute;
    z-index: -20;
    pointer-events: none;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li.logo {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 2px 16px;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.left {float: left;}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

#audio-control {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

form {
    width: 75%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

input.message {
    min-height: 100px;
}

div.fullname {
    display: flex;
    justify-content: space-between;
}

div.fname {
    float: left;
    width: 45%;
}

div.lname {
    float: right;
    width: 45%;
}

.project-buttons {
    margin-top: 20%;
    display: flex;
    justify-content: space-evenly;
}

.project-buttons a {
    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.white {
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: -10;
}